VUS-adf-dev/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "VUS-adf-dev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/VUS_SDE_GROUP_CRM')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_SRC_List",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "select case when FULL_LOAD_FLG ='N' then JOB_SCRIPT +' and '+INCREMENTAL_COL +'>= dateadd(day,-'+convert(varchar(2),PRUNE_DAYS)+',getdate())' else JOB_SCRIPT end as SRC_LIST, [SOURCE_SCHEMA] as SRC_SCHEMA,[SOURCE_TABLE] as SRC_TBL,  [TARGET_TABLE] as TGT_TBL \nfrom [ADF].[ETL_JOB] WHERE ACTIVE_FLG ='Y' and JOB_GROUP ='SDE' and JOB_SUB_GROUP ='SDE - CRM'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_DWH_SYNAPSE_ADF",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "ETL_JOB"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_SRC_List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_SRC_List').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set TGT Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "TGT_Table",
										"value": {
											"value": "@{Item().TGT_TBL}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Get JOB_ID",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Set TGT Table",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlDWSource",
											"sqlReaderQuery": {
												"value": "@concat('select JOB_ID from [ADF].[ETL_JOB] where TARGET_TABLE=''',variables('TGT_Table'),'''')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_DWH_SYNAPSE_ADF",
											"type": "DatasetReference",
											"parameters": {
												"TableName": "AAA"
											}
										}
									}
								},
								{
									"name": "Set Source Script",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Source_Script",
										"value": {
											"value": "@{Item().SRC_LIST}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set SRC Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SRC_Table",
										"value": {
											"value": "@{Item().SRC_TBL}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Insert Log Before Load Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Set Source Script",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Get JOB_ID",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set SRC Table",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set SRC Schema",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_log_message]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_error_code": {
												"value": "",
												"type": "String"
											},
											"p_error_message": {
												"value": "",
												"type": "String"
											},
											"p_job_id": {
												"value": {
													"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_log_message": {
												"value": {
													"value": "@concat('Start load table ',variables('TGT_Table'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"p_log_status": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Copy data",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Insert Log Before Load Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@variables('Source_Script')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"preCopyScript": {
												"value": "TRUNCATE TABLE [STG].[@{Item().TGT_TBL}]",
												"type": "Expression"
											},
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": true
											},
											"disableMetricsCollection": false
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "LS_STORAGE_ACCOUNT_DEV",
												"type": "LinkedServiceReference"
											},
											"path": "adfstagedpolybasetempdata"
										}
									},
									"inputs": [
										{
											"referenceName": "VUS_Source",
											"type": "DatasetReference",
											"parameters": {
												"SCHEMA_NAME": "@variables('SRC_Schema')",
												"TABLE_NAME": "@variables('SRC_Table')"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_DWH_SYNAPSE_STAGING",
											"type": "DatasetReference",
											"parameters": {
												"TableName": {
													"value": "@variables('TGT_Table')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Insert Log Load Finish Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_log_message]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_error_code": {
												"value": "",
												"type": "String"
											},
											"p_error_message": {
												"value": "",
												"type": "String"
											},
											"p_job_id": {
												"value": {
													"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_log_message": {
												"value": {
													"value": "@concat('Finished load table ',variables('TGT_Table'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"p_log_status": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Insert Log Load Fail Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_log_message]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_error_code": {
												"value": "",
												"type": "String"
											},
											"p_error_message": {
												"value": "",
												"type": "String"
											},
											"p_job_id": {
												"value": {
													"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_log_message": {
												"value": {
													"value": "@concat('Load fail table ',variables('TGT_Table'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"p_log_status": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Update Batch_ID",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Insert Log Load Finish Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_update_batch]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_table_name": {
												"value": {
													"value": "@variables('TGT_Table')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Set SRC Schema",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SRC_Schema",
										"value": {
											"value": "@{Item().SRC_SCHEMA}",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"concurrency": 6,
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"BATCH_ID": {
						"type": "string",
						"defaultValue": "19000101"
					}
				},
				"variables": {
					"SOURCE": {
						"type": "String"
					},
					"Source_Script": {
						"type": "String"
					},
					"SRC_Table": {
						"type": "String"
					},
					"TGT_Table": {
						"type": "String"
					},
					"SRC_Schema": {
						"type": "String"
					}
				},
				"folder": {
					"name": "VUS_ETL"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-29T16:45:08Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VUS_SDE_GROUP_TQM 01')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_SRC_List",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "select case when FULL_LOAD_FLG ='N' then JOB_SCRIPT +' and '+INCREMENTAL_COL +'>= dateadd(day,-'+convert(varchar(2),PRUNE_DAYS)+',getdate())' else JOB_SCRIPT end as SRC_LIST, [SOURCE_SCHEMA] as SRC_SCHEMA,[SOURCE_TABLE] as SRC_TBL,  [TARGET_TABLE] as TGT_TBL \nfrom [ADF].[ETL_JOB] WHERE ACTIVE_FLG ='Y' and JOB_GROUP ='SDE' and JOB_SUB_GROUP  ='SDE - TQM 01'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_DWH_SYNAPSE_ADF",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "ETL_JOB"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_SRC_List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_SRC_List').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set TGT Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "TGT_Table",
										"value": {
											"value": "@{Item().TGT_TBL}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Get JOB_ID",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Set TGT Table",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlDWSource",
											"sqlReaderQuery": {
												"value": "@concat('select JOB_ID from [ADF].[ETL_JOB] where TARGET_TABLE=''',variables('TGT_Table'),'''')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_DWH_SYNAPSE_ADF",
											"type": "DatasetReference",
											"parameters": {
												"TableName": "AAA"
											}
										}
									}
								},
								{
									"name": "Set Source Script",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Source_Script",
										"value": {
											"value": "@{Item().SRC_LIST}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set SRC Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SRC_Table",
										"value": {
											"value": "@{Item().SRC_TBL}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Insert Log Before Load Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Set Source Script",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Get JOB_ID",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set SRC Table",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set SRC Schema",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_log_message]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_error_code": {
												"value": "",
												"type": "String"
											},
											"p_error_message": {
												"value": "",
												"type": "String"
											},
											"p_job_id": {
												"value": {
													"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_log_message": {
												"value": {
													"value": "@concat('Start load table ',variables('TGT_Table'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"p_log_status": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Copy data",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Insert Log Before Load Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@variables('Source_Script')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"preCopyScript": {
												"value": "TRUNCATE TABLE [STG].[@{Item().TGT_TBL}]",
												"type": "Expression"
											},
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": false
											},
											"disableMetricsCollection": false
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "LS_STORAGE_ACCOUNT_DEV",
												"type": "LinkedServiceReference"
											},
											"path": "logadf"
										}
									},
									"inputs": [
										{
											"referenceName": "VUS_Source",
											"type": "DatasetReference",
											"parameters": {
												"SCHEMA_NAME": "@variables('SRC_Schema')",
												"TABLE_NAME": "@variables('SRC_Table')"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_DWH_SYNAPSE_STAGING",
											"type": "DatasetReference",
											"parameters": {
												"TableName": {
													"value": "@variables('TGT_Table')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Insert Log Load Finish Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_log_message]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_error_code": {
												"value": "",
												"type": "String"
											},
											"p_error_message": {
												"value": "",
												"type": "String"
											},
											"p_job_id": {
												"value": {
													"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_log_message": {
												"value": {
													"value": "@concat('Finished load table ',variables('TGT_Table'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"p_log_status": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Insert Log Load Fail Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_log_message]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_error_code": {
												"value": "",
												"type": "String"
											},
											"p_error_message": {
												"value": "",
												"type": "String"
											},
											"p_job_id": {
												"value": {
													"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_log_message": {
												"value": {
													"value": "@concat('Load fail table ',variables('TGT_Table'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"p_log_status": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Update Batch_ID",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Insert Log Load Finish Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_update_batch]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_table_name": {
												"value": {
													"value": "@variables('TGT_Table')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Set SRC Schema",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SRC_Schema",
										"value": {
											"value": "@{Item().SRC_SCHEMA}",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"BATCH_ID": {
						"type": "string",
						"defaultValue": "19000101"
					}
				},
				"variables": {
					"SOURCE": {
						"type": "String"
					},
					"Source_Script": {
						"type": "String"
					},
					"SRC_Table": {
						"type": "String"
					},
					"TGT_Table": {
						"type": "String"
					},
					"SRC_Schema": {
						"type": "String"
					}
				},
				"folder": {
					"name": "VUS_ETL"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-29T16:45:08Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VUS_SDE_GROUP_ASA 02')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_SRC_List",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "select case when FULL_LOAD_FLG ='N' then JOB_SCRIPT +' and '+INCREMENTAL_COL +'>= dateadd(day,-'+convert(varchar(2),PRUNE_DAYS)+',getdate())' else JOB_SCRIPT end as SRC_LIST, [SOURCE_SCHEMA] as SRC_SCHEMA,[SOURCE_TABLE] as SRC_TBL,  [TARGET_TABLE] as TGT_TBL \nfrom [ADF].[ETL_JOB] WHERE ACTIVE_FLG ='Y' and JOB_GROUP ='SDE' and JOB_SUB_GROUP ='SDE - ASA 02'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_DWH_SYNAPSE_ADF",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "ETL_JOB"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_SRC_List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_SRC_List').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set TGT Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "TGT_Table",
										"value": {
											"value": "@{Item().TGT_TBL}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Get JOB_ID",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Set TGT Table",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlDWSource",
											"sqlReaderQuery": {
												"value": "@concat('select JOB_ID from [ADF].[ETL_JOB] where TARGET_TABLE=''',variables('TGT_Table'),'''')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_DWH_SYNAPSE_ADF",
											"type": "DatasetReference",
											"parameters": {
												"TableName": "AAA"
											}
										}
									}
								},
								{
									"name": "Set Source Script",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Source_Script",
										"value": {
											"value": "@{Item().SRC_LIST}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set SRC Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SRC_Table",
										"value": {
											"value": "@{Item().SRC_TBL}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Insert Log Before Load Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Set Source Script",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Get JOB_ID",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set SRC Table",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set SRC Schema",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_log_message]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_error_code": {
												"value": "",
												"type": "String"
											},
											"p_error_message": {
												"value": "",
												"type": "String"
											},
											"p_job_id": {
												"value": {
													"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_log_message": {
												"value": {
													"value": "@concat('Start load table ',variables('TGT_Table'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"p_log_status": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Copy data",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Insert Log Before Load Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@variables('Source_Script')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"preCopyScript": {
												"value": "TRUNCATE TABLE [STG].[@{Item().TGT_TBL}]",
												"type": "Expression"
											},
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": false
											},
											"disableMetricsCollection": false
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "LS_STORAGE_ACCOUNT_DEV",
												"type": "LinkedServiceReference"
											},
											"path": "logadf"
										}
									},
									"inputs": [
										{
											"referenceName": "VUS_Source",
											"type": "DatasetReference",
											"parameters": {
												"SCHEMA_NAME": "@variables('SRC_Schema')",
												"TABLE_NAME": "@variables('SRC_Table')"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_DWH_SYNAPSE_STAGING",
											"type": "DatasetReference",
											"parameters": {
												"TableName": {
													"value": "@variables('TGT_Table')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Insert Log Load Finish Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_log_message]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_error_code": {
												"value": "",
												"type": "String"
											},
											"p_error_message": {
												"value": "",
												"type": "String"
											},
											"p_job_id": {
												"value": {
													"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_log_message": {
												"value": {
													"value": "@concat('Finished load table ',variables('TGT_Table'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"p_log_status": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Insert Log Load Fail Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_log_message]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_error_code": {
												"value": "",
												"type": "String"
											},
											"p_error_message": {
												"value": "",
												"type": "String"
											},
											"p_job_id": {
												"value": {
													"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_log_message": {
												"value": {
													"value": "@concat('Load fail table ',variables('TGT_Table'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"p_log_status": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Update Batch_ID",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Insert Log Load Finish Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_update_batch]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_table_name": {
												"value": {
													"value": "@variables('TGT_Table')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Set SRC Schema",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SRC_Schema",
										"value": {
											"value": "@{Item().SRC_SCHEMA}",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"BATCH_ID": {
						"type": "string",
						"defaultValue": "19000101"
					}
				},
				"variables": {
					"SOURCE": {
						"type": "String"
					},
					"Source_Script": {
						"type": "String"
					},
					"SRC_Table": {
						"type": "String"
					},
					"TGT_Table": {
						"type": "String"
					},
					"SRC_Schema": {
						"type": "String"
					}
				},
				"folder": {
					"name": "VUS_ETL"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-29T16:45:08Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VUS_SDE_GROUP_TQM 02')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_SRC_List",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "select case when FULL_LOAD_FLG ='N' then JOB_SCRIPT +' and '+INCREMENTAL_COL +'>= dateadd(day,-'+convert(varchar(2),PRUNE_DAYS)+',getdate())' else JOB_SCRIPT end as SRC_LIST, [SOURCE_SCHEMA] as SRC_SCHEMA,[SOURCE_TABLE] as SRC_TBL,  [TARGET_TABLE] as TGT_TBL \nfrom [ADF].[ETL_JOB] WHERE ACTIVE_FLG ='Y' and JOB_GROUP ='SDE' and JOB_SUB_GROUP  ='SDE - TQM 02'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_DWH_SYNAPSE_ADF",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "ETL_JOB"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_SRC_List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_SRC_List').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set TGT Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "TGT_Table",
										"value": {
											"value": "@{Item().TGT_TBL}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Get JOB_ID",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Set TGT Table",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlDWSource",
											"sqlReaderQuery": {
												"value": "@concat('select JOB_ID from [ADF].[ETL_JOB] where TARGET_TABLE=''',variables('TGT_Table'),'''')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_DWH_SYNAPSE_ADF",
											"type": "DatasetReference",
											"parameters": {
												"TableName": "AAA"
											}
										}
									}
								},
								{
									"name": "Set Source Script",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Source_Script",
										"value": {
											"value": "@{Item().SRC_LIST}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set SRC Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SRC_Table",
										"value": {
											"value": "@{Item().SRC_TBL}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Insert Log Before Load Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Set Source Script",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Get JOB_ID",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set SRC Table",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set SRC Schema",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_log_message]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_error_code": {
												"value": "",
												"type": "String"
											},
											"p_error_message": {
												"value": "",
												"type": "String"
											},
											"p_job_id": {
												"value": {
													"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_log_message": {
												"value": {
													"value": "@concat('Start load table ',variables('TGT_Table'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"p_log_status": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Copy data",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Insert Log Before Load Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@variables('Source_Script')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"preCopyScript": {
												"value": "TRUNCATE TABLE [STG].[@{Item().TGT_TBL}]",
												"type": "Expression"
											},
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": false
											},
											"disableMetricsCollection": false
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "LS_STORAGE_ACCOUNT_DEV",
												"type": "LinkedServiceReference"
											},
											"path": "logadf"
										}
									},
									"inputs": [
										{
											"referenceName": "VUS_Source",
											"type": "DatasetReference",
											"parameters": {
												"SCHEMA_NAME": "@variables('SRC_Schema')",
												"TABLE_NAME": "@variables('SRC_Table')"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_DWH_SYNAPSE_STAGING",
											"type": "DatasetReference",
											"parameters": {
												"TableName": {
													"value": "@variables('TGT_Table')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Insert Log Load Finish Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_log_message]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_error_code": {
												"value": "",
												"type": "String"
											},
											"p_error_message": {
												"value": "",
												"type": "String"
											},
											"p_job_id": {
												"value": {
													"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_log_message": {
												"value": {
													"value": "@concat('Finished load table ',variables('TGT_Table'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"p_log_status": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Insert Log Load Fail Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_log_message]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_error_code": {
												"value": "",
												"type": "String"
											},
											"p_error_message": {
												"value": "",
												"type": "String"
											},
											"p_job_id": {
												"value": {
													"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_log_message": {
												"value": {
													"value": "@concat('Load fail table ',variables('TGT_Table'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"p_log_status": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Update Batch_ID",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Insert Log Load Finish Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_update_batch]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_table_name": {
												"value": {
													"value": "@variables('TGT_Table')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Set SRC Schema",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SRC_Schema",
										"value": {
											"value": "@{Item().SRC_SCHEMA}",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"BATCH_ID": {
						"type": "string",
						"defaultValue": "19000101"
					}
				},
				"variables": {
					"SOURCE": {
						"type": "String"
					},
					"Source_Script": {
						"type": "String"
					},
					"SRC_Table": {
						"type": "String"
					},
					"TGT_Table": {
						"type": "String"
					},
					"SRC_Schema": {
						"type": "String"
					}
				},
				"folder": {
					"name": "VUS_ETL"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-29T16:45:08Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VUS_SDE_GROUP_ASA 01')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_SRC_List",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "select case when FULL_LOAD_FLG ='N' then JOB_SCRIPT +' and '+INCREMENTAL_COL +'>= dateadd(day,-'+convert(varchar(2),PRUNE_DAYS)+',getdate())' else JOB_SCRIPT end as SRC_LIST, [SOURCE_SCHEMA] as SRC_SCHEMA,[SOURCE_TABLE] as SRC_TBL,  [TARGET_TABLE] as TGT_TBL \nfrom [ADF].[ETL_JOB] WHERE ACTIVE_FLG ='Y' and JOB_GROUP ='SDE' and JOB_SUB_GROUP ='SDE - ASA 01'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_DWH_SYNAPSE_ADF",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "ETL_JOB"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_SRC_List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_SRC_List').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set TGT Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "TGT_Table",
										"value": {
											"value": "@{Item().TGT_TBL}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Get JOB_ID",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Set TGT Table",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlDWSource",
											"sqlReaderQuery": {
												"value": "@concat('select JOB_ID from [ADF].[ETL_JOB] where TARGET_TABLE=''',variables('TGT_Table'),'''')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_DWH_SYNAPSE_ADF",
											"type": "DatasetReference",
											"parameters": {
												"TableName": "AAA"
											}
										}
									}
								},
								{
									"name": "Set Source Script",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Source_Script",
										"value": {
											"value": "@{Item().SRC_LIST}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set SRC Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SRC_Table",
										"value": {
											"value": "@{Item().SRC_TBL}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Insert Log Before Load Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Set Source Script",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Get JOB_ID",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set SRC Table",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set SRC Schema",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_log_message]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_error_code": {
												"value": "",
												"type": "String"
											},
											"p_error_message": {
												"value": "",
												"type": "String"
											},
											"p_job_id": {
												"value": {
													"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_log_message": {
												"value": {
													"value": "@concat('Start load table ',variables('TGT_Table'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"p_log_status": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Copy data",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Insert Log Before Load Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@variables('Source_Script')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"preCopyScript": {
												"value": "TRUNCATE TABLE [STG].[@{Item().TGT_TBL}]",
												"type": "Expression"
											},
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": false
											},
											"disableMetricsCollection": false
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "LS_STORAGE_ACCOUNT_DEV",
												"type": "LinkedServiceReference"
											},
											"path": "logadf"
										}
									},
									"inputs": [
										{
											"referenceName": "VUS_Source",
											"type": "DatasetReference",
											"parameters": {
												"SCHEMA_NAME": "@variables('SRC_Schema')",
												"TABLE_NAME": "@variables('SRC_Table')"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_DWH_SYNAPSE_STAGING",
											"type": "DatasetReference",
											"parameters": {
												"TableName": {
													"value": "@variables('TGT_Table')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Insert Log Load Finish Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_log_message]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_error_code": {
												"value": "",
												"type": "String"
											},
											"p_error_message": {
												"value": "",
												"type": "String"
											},
											"p_job_id": {
												"value": {
													"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_log_message": {
												"value": {
													"value": "@concat('Finished load table ',variables('TGT_Table'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"p_log_status": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Insert Log Load Fail Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_log_message]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_error_code": {
												"value": "",
												"type": "String"
											},
											"p_error_message": {
												"value": "",
												"type": "String"
											},
											"p_job_id": {
												"value": {
													"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_log_message": {
												"value": {
													"value": "@concat('Load fail table ',variables('TGT_Table'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"p_log_status": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Update Batch_ID",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Insert Log Load Finish Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_update_batch]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_table_name": {
												"value": {
													"value": "@variables('TGT_Table')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Set SRC Schema",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SRC_Schema",
										"value": {
											"value": "@{Item().SRC_SCHEMA}",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"BATCH_ID": {
						"type": "string",
						"defaultValue": "19000101"
					}
				},
				"variables": {
					"SOURCE": {
						"type": "String"
					},
					"Source_Script": {
						"type": "String"
					},
					"SRC_Table": {
						"type": "String"
					},
					"TGT_Table": {
						"type": "String"
					},
					"SRC_Schema": {
						"type": "String"
					}
				},
				"folder": {
					"name": "VUS_ETL"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-29T16:45:08Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VUS_SDE_GROUP_ASA 03')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_SRC_List",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "\t\t   select case when FULL_LOAD_FLG ='N' then JOB_SCRIPT +' and '+INCREMENTAL_COL +'>= dateadd(day,-'+convert(varchar(2),PRUNE_DAYS)+',getdate())' else JOB_SCRIPT end as SRC_LIST, [SOURCE_SCHEMA] as SRC_SCHEMA,[SOURCE_TABLE] as SRC_TBL,  [TARGET_TABLE] as TGT_TBL \nfrom [ADF].[ETL_JOB] WHERE ACTIVE_FLG ='Y' and JOB_GROUP ='SDE' and JOB_SUB_GROUP ='SDE - ASA 03'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_DWH_SYNAPSE_ADF",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "ETL_JOB"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_SRC_List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_SRC_List').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set TGT Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "TGT_Table",
										"value": {
											"value": "@{Item().TGT_TBL}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Get JOB_ID",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Set TGT Table",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlDWSource",
											"sqlReaderQuery": {
												"value": "@concat('select JOB_ID from [ADF].[ETL_JOB] where TARGET_TABLE=''',variables('TGT_Table'),'''')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_DWH_SYNAPSE_ADF",
											"type": "DatasetReference",
											"parameters": {
												"TableName": "AAA"
											}
										}
									}
								},
								{
									"name": "Set Source Script",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Source_Script",
										"value": {
											"value": "@{Item().SRC_LIST}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set SRC Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SRC_Table",
										"value": {
											"value": "@{Item().SRC_TBL}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Insert Log Before Load Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Set Source Script",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Get JOB_ID",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set SRC Table",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set SRC Schema",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_log_message]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_error_code": {
												"value": "",
												"type": "String"
											},
											"p_error_message": {
												"value": "",
												"type": "String"
											},
											"p_job_id": {
												"value": {
													"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_log_message": {
												"value": {
													"value": "@concat('Start load table ',variables('TGT_Table'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"p_log_status": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Copy data",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Insert Log Before Load Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@variables('Source_Script')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"preCopyScript": {
												"value": "TRUNCATE TABLE [STG].[@{Item().TGT_TBL}]",
												"type": "Expression"
											},
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": false
											},
											"disableMetricsCollection": false
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "LS_STORAGE_ACCOUNT_DEV",
												"type": "LinkedServiceReference"
											},
											"path": "logadf"
										}
									},
									"inputs": [
										{
											"referenceName": "VUS_Source",
											"type": "DatasetReference",
											"parameters": {
												"SCHEMA_NAME": "@variables('SRC_Schema')",
												"TABLE_NAME": "@variables('SRC_Table')"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_DWH_SYNAPSE_STAGING",
											"type": "DatasetReference",
											"parameters": {
												"TableName": {
													"value": "@variables('TGT_Table')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Insert Log Load Finish Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_log_message]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_error_code": {
												"value": "",
												"type": "String"
											},
											"p_error_message": {
												"value": "",
												"type": "String"
											},
											"p_job_id": {
												"value": {
													"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_log_message": {
												"value": {
													"value": "@concat('Finished load table ',variables('TGT_Table'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"p_log_status": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Insert Log Load Fail Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_log_message]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_error_code": {
												"value": "",
												"type": "String"
											},
											"p_error_message": {
												"value": "",
												"type": "String"
											},
											"p_job_id": {
												"value": {
													"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_log_message": {
												"value": {
													"value": "@concat('Load fail table ',variables('TGT_Table'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"p_log_status": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Update Batch_ID",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Insert Log Load Finish Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_update_batch]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_table_name": {
												"value": {
													"value": "@variables('TGT_Table')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Set SRC Schema",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SRC_Schema",
										"value": {
											"value": "@{Item().SRC_SCHEMA}",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"BATCH_ID": {
						"type": "string",
						"defaultValue": "19000101"
					}
				},
				"variables": {
					"SOURCE": {
						"type": "String"
					},
					"Source_Script": {
						"type": "String"
					},
					"SRC_Table": {
						"type": "String"
					},
					"TGT_Table": {
						"type": "String"
					},
					"SRC_Schema": {
						"type": "String"
					}
				},
				"folder": {
					"name": "VUS_ETL"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-29T16:45:08Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VUS_PLP')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "VUS_PLP_GROUP_01",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "VUS_PLP_GROUP_00",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_PLP_GROUP_01",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_PLP_GROUP_02",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "REBUILD INDEX",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_PLP_GROUP_02",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_PLP_GROUP_00",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_PLP_GROUP_00",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "REBUILD INDEX",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "VUS_PLP_GROUP_01",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[proc_Rebuild_Index]",
							"storedProcedureParameters": {
								"p_batch_id": {
									"value": {
										"value": "@pipeline().parameters.BATCH_ID",
										"type": "Expression"
									},
									"type": "Int64"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_DWH_SYNAPSE_DEV",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"BATCH_ID": {
						"type": "string",
						"defaultValue": "19000101"
					}
				},
				"folder": {
					"name": "VUS_ETL"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-29T16:45:09Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VUS_SIL_ASA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "VUS_SIL_GROUP_ASA 01",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SIL_GROUP_ASA 01",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_SIL_GROUP_ASA 02",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SIL_GROUP_ASA 02",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_SIL_GROUP_ASA 03",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SIL_GROUP_ASA 03",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"BATCH_ID": {
						"type": "string",
						"defaultValue": "19000101"
					}
				},
				"folder": {
					"name": "VUS_ETL"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-29T16:45:10Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VUS_SDE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "VUS_SDE_GROUP_ASA",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SDE_GROUP_ASA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_SDE_GROUP_QLGV",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SDE_GROUP_QLGV",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_SDE_GROUP_TQM",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SDE_GROUP_TQM",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"BATCH_ID": {
						"type": "string"
					}
				},
				"folder": {
					"name": "VUS_ETL"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-29T16:45:10Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ASA PIPELINE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "VUS_SDE_GROUP_ASA",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SDE_GROUP_ASA 03",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_SIL_GROUP_ASA",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "VUS_SDE_GROUP_ASA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SIL_GROUP_ASA 01",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "VUS MASTER"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-29T16:45:10Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/VUS_SDE_GROUP_ASA 03')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VUS_SDE_ASA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "VUS_SDE_GROUP_ASA 03",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SDE_GROUP_ASA 03",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_SDE_GROUP_ASA 01",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SDE_GROUP_ASA 01",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_SDE_GROUP_ASA 02",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SDE_GROUP_ASA 02",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"BATCH_ID": {
						"type": "string"
					}
				},
				"folder": {
					"name": "VUS_ETL"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-29T16:45:10Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/VUS_SDE_GROUP_ASA 03')]",
				"[concat(variables('factoryId'), '/pipelines/VUS_SDE_GROUP_ASA 01')]",
				"[concat(variables('factoryId'), '/pipelines/VUS_SDE_GROUP_ASA 02')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VUS_ETL_MASTER')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SDE",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SDE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"BATCH_ID": {
									"value": "@pipeline().parameters.BATCH_ID",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "SIL",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SDE",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SIL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"BATCH_ID": {
									"value": "@pipeline().parameters.BATCH_ID",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "SIL GENERAL",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SIL",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SIL_GENERAL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"BATCH_ID": {
						"type": "string",
						"defaultValue": "19000101"
					}
				},
				"folder": {
					"name": "VUS_ETL"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-29T16:45:11Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/VUS_SDE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ASA FULL PIPELINE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "START SYNAPSE",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "RESUME SYNAPSE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SET START BATCH TIME",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "START SYNAPSE",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "START_BATCH_TIME",
							"value": {
								"value": "@formatDateTime(addhours(utcnow(), 7), 'dd-MM-yyyy HH:mm:ss')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "START BATCH",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "SET START BATCH TIME",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[ADF].[proc_etl_start_batch]",
								"storedProcedureParameters": {
									"p_batch_type_id": {
										"type": "Int32",
										"value": "0"
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_DWH_SYNAPSE_ADF",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "A"
								}
							}
						}
					},
					{
						"name": "GET BATCH_ID",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "START BATCH",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "BATCH_ID",
							"value": {
								"value": "@string(activity('START BATCH').output.firstrow.AAA)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "END BATCH",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "VUS_PLP",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ADF].[proc_etl_end_batch]",
							"storedProcedureParameters": {
								"p_batch_id": {
									"value": {
										"value": "@variables('BATCH_ID')",
										"type": "Expression"
									},
									"type": "Int64"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_DWH_SYNAPSE_DEV",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "REFRESH AS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "END BATCH",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "REFRESH AS GENERAL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PAUSE SYNAPSE",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "REFRESH AS",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PAUSE SYNAPSE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_SDE_ASA",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "GET BATCH_ID",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SDE_ASA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_SIL_ASA",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "VUS_SDE_ASA",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SIL_ASA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_PLP",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "VUS_SIL_ASA",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_PLP",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"BATCH_ID": {
						"type": "String",
						"defaultValue": "0"
					},
					"CURRENT_DATA_TIME": {
						"type": "String"
					},
					"START_BATCH_TIME": {
						"type": "String"
					}
				},
				"folder": {
					"name": "VUS MASTER"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-29T16:45:11Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/VUS_SDE_ASA')]",
				"[concat(variables('factoryId'), '/pipelines/VUS_SIL_ASA')]",
				"[concat(variables('factoryId'), '/pipelines/VUS_PLP')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/12h15')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "ASA FULL PIPELINE",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2022-05-31T15:18:00",
						"timeZone": "SE Asia Standard Time",
						"schedule": {
							"minutes": [
								15
							],
							"hours": [
								12
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ASA FULL PIPELINE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MASTER PIPELINE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "START SYNAPSE",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "RESUME SYNAPSE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SET START BATCH TIME",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "START SYNAPSE",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "START_BATCH_TIME",
							"value": {
								"value": "@formatDateTime(addhours(utcnow(), 7), 'dd-MM-yyyy HH:mm:ss')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "START BATCH",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "SET START BATCH TIME",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[ADF].[proc_etl_start_batch]",
								"storedProcedureParameters": {
									"p_batch_type_id": {
										"type": "Int32",
										"value": "0"
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_DWH_SYNAPSE_ADF",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "A"
								}
							}
						}
					},
					{
						"name": "GET BATCH_ID",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "START BATCH",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "BATCH_ID",
							"value": {
								"value": "@string(activity('START BATCH').output.firstrow.AAA)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "END BATCH",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "VUS_ETL_MASTER",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ADF].[proc_etl_end_batch]",
							"storedProcedureParameters": {
								"p_batch_id": {
									"value": {
										"value": "@variables('BATCH_ID')",
										"type": "Expression"
									},
									"type": "Int64"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_DWH_SYNAPSE_DEV",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "REFRESH AS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "END BATCH",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "REFRESH AS GENERAL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PAUSE SYNAPSE",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "REFRESH AS",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PAUSE SYNAPSE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_ETL_MASTER",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "GET BATCH_ID",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_ETL_MASTER",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"BATCH_ID": {
						"type": "String",
						"defaultValue": "0"
					},
					"CURRENT_DATA_TIME": {
						"type": "String"
					},
					"START_BATCH_TIME": {
						"type": "String"
					}
				},
				"folder": {
					"name": "VUS MASTER"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-29T16:45:12Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/VUS_ETL_MASTER')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/2AM')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "MASTER PIPELINE",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-12-05T14:38:00",
						"timeZone": "SE Asia Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								2
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/MASTER PIPELINE')]"
			]
		}
	]
}